<template>
    <div class="table-responsive">
        <div v-if="loading" class="text-center">
            <span class="glyphicon glyphicon-refresh glyphicon-rotate"></span>
        </div>
        <table class="table table hover table-striped table-condensed" v-else>
            <thead>
            <tr>
                <th v-for="(val, col) in head">{{ col }}</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="row in data">
                <td v-for="col in row" class="cut-data">{{ col }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    /**
     * Renderiza el listado de tablas y su estructura
     */
    export default {
        props: ['connection', 'type', 'table'],
        data() {
            return {
                loading: true,
                data: [],
                head: [],
            }
        },
        mounted() {
            this.$http.get(`/external-db/connection/${this.connection}/${this.type}-table/${this.table}`)
                .then(
                    response => {
                        if (response.data.success) {
                            this.head = response.data.data[0];
                            this.data = response.data.data;
                            this.loading = false;
                        } else console.log(response);
                    },
                    error => {
                        console.error(error);
                        this.loading = false;
                    }
                );
        }
    }
</script>

<style>
    .cut-data {
        max-width: 6em;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        transition: all 1s;
    }

    .cut-data:hover {
        max-width: fit-content;
        overflow: visible;
        cursor: pointer;
        font-weight: bold;
    }
</style>