<template>
    <div>
        <div v-if="loading" class="text-center">
            <span class="glyphicon glyphicon-refresh glyphicon-rotate"></span>
        </div>

        <div v-else-if="!loading && data.length === 0">
            <p>Esta conexión no tiene tablas gis.</p>
        </div>

        <div v-else class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <div class="panel panel-default" v-for="table in data">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <span class="glyphicon glyphicon-list-alt"></span>
                        <a role="button" data-toggle="collapse" data-parent="#accordion"
                           :href="'#' + table.f_table_name" aria-expanded="true"
                           :aria-controls="table.f_table_name">
                            {{ table.f_table_name }}
                        </a>
                    </h4>
                </div>
                <div :id="table.f_table_name" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="headingOne">
                    <div class="panel-body">

                        <div class="col-sm-6">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Nombre</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static">{{ table.f_table_name }}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Geometría</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static">{{ table.type }}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">SRID</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static">{{ table.srid }}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Columna geom</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static">{{ table.f_geometry_column }}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Dimenciones</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static">{{ table.coord_dimension }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <a :href="'gis-table/' + table.f_table_name" type="button" class="btn btn-success">
                                Ver datos</a>
                            <a :href="'gis-table/' + table.f_table_name + '/import'" type="button" class="btn btn-primary">
                                Importar datos</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    /**
     * Renderiza el listado de tablas y su estructura
     */
    export default {
        props: ['connection'],
        data() {
            return {
                loading: true,
                data: []
            }
        },
        mounted() {
            this.$http.get(`/external-db/connection/${this.connection}/gis-table`)
                .then(
                    response => {
                        if (response.data.success)
                            this.data = response.data.data;
                        else console.error(response.data);

                        this.loading = false;
                    },
                    error => {
                        this.loading = false;
                        console.error(error);
                    }
                );
        }
    }
</script>