<template>
    <div>
        <span class="glyphicon glyphicon-calendar"></span> test
    </div>
</template>

<script>
    /**
     * Comprueba el estado de una conexión
     */
    export default {
        mounted() {
            console.log(response.data);
        }
    }
</script>