<template>
    <div v-bind:class="[color]" data-toggle="tooltip" data-placement="left" title="Estado de la conexión">
        <span class="glyphicon" v-bind:class="[{ 'glyphicon-rotate': loading }, icon]"></span>
    </div>
</template>

<script>
    /**
     * Comprueba el estado de una conexión
     */
    export default {
        props: ['connection'],
        data() {
            return {
                loading: true,
                color: 'text-default',
                icon: 'glyphicon-refresh',
            }
        },
        mounted() {
            this.$http.get(`/external-db/connection/${this.connection}/test`)
                .then(
                    response => {
                        if (response.data.success) {
                            this.icon = 'glyphicon-ok';
                            this.color = 'text-success';
                        } else {
                            this.icon = 'glyphicon-remove';
                            this.color = 'text-danger';
                            console.log(response.data);
                        }

                        this.loading = false;
                    },
                    error => {
                        this.icon = 'glyphicon-remove-circle';
                        this.color = 'text-danger';
                        this.loading = false;
                        console.error(error);
                    }
                );
        }
    }
</script>